@import '@unocss/reset/sanitize/sanitize.css';
@import './theme';

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  line-height: 1.2;
  color: rgb(var(--kele-color-font-primary));
  font-family: "PingFang SC", "微软雅黑", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
