/* 默认日间主题 */
:root {
  /* 主题色 */
  --kele-color-brand: #4045D6;

  /* 功能颜色 */
  --kele-color-warning: #FF8B20;
  --kele-color-danger: #FF1F1F;

  /* font 颜色 */
  --kele-color-font-primary: #1B2124;
  --kele-color-font-second: #97999B;

  /* 背景色 */
  --kele-color-bg-page: #F8F8FA;
  --kele-color-bg-primary: #F2F3F5;

  /* 输入框 placeholder 颜色 */
  --kele-color-placeholder: #BDBDBD;

  /* element-plus */
  --el-color-primary: #000;
  --el-color-primary-light-9: #F6F7FB;
}

.el-input__wrapper {
  background-color: #F6F7FB !important;
  box-shadow: none !important;
}
.el-input__inner {
  color: #000 !important;
}
.el-select {
  overflow: hidden;
}
.el-select__wrapper {
  background-color: #F6F7FB !important;
  box-shadow: none !important;
}
.el-select__placeholder {
  color: #000 !important;
  font-weight: bold;
}
.el-select__caret {
  font-size: 10px !important;
}
